*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Config files
config.json
src/shared/config.json

!.eslintrc.js
!src/**/*.js
!asyncSrc/**/*.js
!syntheticsSrc/**/*.js

authentication-service.key
authentication-service.key.pub

.DS_Store
